.inactive {
  display: none;
}

body {
  background-color: #E9EAEA;
}

nav {
  background-color: #36414A;
  height: 65px;
  color: #E9EAEA;
  h1 {
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
  }
  form  {
    float: right;
    margin-right: 30px;
    margin-top: 19px;
  }
}

.event-container {
  background-color: #C8C6B9;
  width: 75%;
  margin: 0 auto;
  padding: 45px;
  h2 {
    margin: 0;
  }
}
.user-page {
  .user-button-container {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 19px;
  }
}

.create-event-form {
  width: 35%;
  margin: 0 auto;
  input[type="text"] {
    display: block;
    width: 100%;
  }
}

.my-event {
display: inline-block;
background-color: #E8E8E8;
padding: 15px;
vertical-align: top;
width: 27%;
margin-right: 44px;
  img {
  width: 100%; }
  #event-name {
    font-size: 1.5em;
    margin: 0;
  }
  #event-location {
    font-size: 1em;
    margin: 0;
  }
  #attending-button {
    margin: 0;
    display: inline-block;
    background-color: #848381;
    padding: 8px;
    color: white;
    cursor: pointer;
  }
}
.my-event:nth-child(3n+3) {
  margin-right: 0;
}


.my-events-container {
  background-color: #C8C6B9;
  width: 75%;
  margin: 0 auto;
  padding: 45px;
}

// hiding 'attend' button on login pag
.login-page {
  #attending-button {
    display: none;
  }
}
footer {
  background-color: lightgrey;
  height: 75px;
}
