.inactive {
  display: none; }

body {
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif; }

nav {
  background: linear-gradient(45deg, #F75E55, #F0B67F);
  height: 83px;
  color: #E9EAEA;
  padding-top: 16px; }
  nav h1 {
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 2.3em;
    color: white; }
  nav form {
    float: right;
    margin-right: 30px;
    margin-top: 19px; }
  .create-user-form input[type="text"] {
    height: 32px;
    border: none;
    padding-left: 10px;
  }
  .create-user-form input[type="password"] {
    height: 32px;
    border: none;
    padding-left: 10px;
  }
  .create-button {
    background: none;
    border: none;
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
  }
  .my-events-button {
    background: none;
    border: none;
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
  }
  .new-events-button {
    background: none;
    border: none;
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
  }
  .sign-out-button {
    background: none;
    border: none;
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
  }


#upcoming-events {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  padding: 45px;
  padding-bottom: 8px;
  font-size: 2.2em;
  text-align: center;
  color: grey;

}

#welcome-message {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  padding: 45px;
  padding-bottom: 8px;
  font-size: 2.2em;
  text-align: center;
  color: grey;}

.event-container {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  padding: 45px; }
  .event-container h2 {
    margin: 0; }

.user-page .user-button-container {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 19px; }

.create-event-form {
  width: 35%;
  margin: 0 auto; }
  .create-event-form input[type="text"] {
    display: block;
    width: 100%; }

.my-event {
  display: inline-block;
  background-color: #E8E8E8;
  padding: 15px;
  vertical-align: top;
  width: 27%;
  margin-right: 44px;
  margin-bottom: 45px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}
  .my-event img {
    width: 100%; }
  .my-event #event-name {
    font-size: 1.3em;
    color: #F75E55;
    margin: 0; }
  .my-event #event-location {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    color: grey;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  .my-event #event-time {
    font-size: 1em;
    font-weight: 300;
    color: grey;
    display: inline-block;
    margin: 0; }
  .my-event #event-date {
    font-size: 1em;
    font-weight: 300;
    color: grey;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
   }
  .my-event #event-descrip {
    font-size: .8em;
    font-weight: 300;
    color: grey;
    margin-bottom: 20px;
    margin: 0; }
  .my-event #attending-button {
    margin: 0;
    margin-top: 15px;
    font-size: .8em;
    display: inline-block;
    background-color: #737373;
    padding: 8px;
    color: white;
    margin-right: 10px;
    border: none;
    cursor: pointer; }
  .my-event #delete-button {
    margin: 0;
    margin-top: 15px;
    font-size: .8em;
    display: inline-block;
    background-color: #737373;
    padding: 8px;
    color: white;
    margin-right: 10px;
    border: none;
    cursor: pointer; }
  .my-event #edit-button {
    margin: 0;
    margin-top: 15px;
    font-size: .8em;
    display: inline-block;
    background-color: #737373;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;}
  .create-event-button {
    margin: 0;
    margin-top: 15px;
    font-size: .8em;
    display: inline-block;
    background-color: #737373;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    width: 148px;
  }
  .create-event-form input[type="text"] {
      display: block;
      width: 100%;
      height: 41px;
      margin-bottom: 12px;
  }
  .event-time-input {
    width: 48%;
    height: 41px;
    margin-bottom: 12px;
  }
  .event-date-input {
    width: 48%;
    height: 41px;
    margin-bottom: 12px;
  }

.my-event:nth-child(3n+3) {
  margin-right: 0; }

.my-events-container {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  padding: 45px; }

.user-events-nav-container {
  float: right;
  margin-right: 33px;
  margin-top: 14px;
}

.back-button-user {
  background: none;
  border: none;
  color: white;
  padding: 7px 20px;
  text-transform: uppercase;
}

.back-button-post {
  background: none;
  border: none;
  color: white;
  padding: 7px 20px;
  text-transform: uppercase;
}

.my-events-container h1 {
  text-align: center;
  color: grey;
}

.login-page #attending-button {
  display: none; }

.login-page #delete-button {
  display: none; }

.login-page #edit-button {
  display: none; }

.user-page #delete-button {
  display: none; }

.user-page #edit-button {
  display: none; }

.post-event-container h2 {
  text-align: center;
  color: grey;
  font-size: 2.2em;
}

footer {
  background-color: lightgrey;
  height: 75px; }
